
        <div class="foreground-container" id="foreground">
          <div class="foreground-content container rounded">
              <div class="row">
                  <div class="col-xs-12" style="width: 100%">

                      <h4>Buy Your First Chicken with the Bitcoin Lightning Network </h4>
                      
                      <p>Satoshi Chickens is a lighthearted browser-based game using Bitcoin payments via the Lightning Protocol.  Read more <font color=blue>Here</font>.</p>

                      <p>To play the game, you must buy a chicken. cdThis game only takes Bitcoin payments using the Lightning Network.  We are commited to the Bitcoin community and do not take any other forms of payment.  Click <font color=blue>Here</font> for help setting up your bitcoin lightning wallet.  This screen will change when your lightning invoice below is paid.</p>
                      
                      

                      <div class="row rounded container border border-secondary" style="margin-top: 5px;padding: 0px;margin-left: 0px;">
                          <div class="col-md-auto text-center" style="padding-left: 0px">
                              <div class="card" style="width: 12rem; margin: 10px;">
                                  <img class="card-img-top" src="assets/web/chicken.png" alt="Card image cap">
                                  <div class="card-body">
                                      <p class="card-text">creates a satoshi egg each day for 30 days.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col">
                              
                              <div>
                                  <h5>Satoshi Chicken</h5>
                              </div>

                              <div class="row">
                                  <div class="col">
                                          <div class="row">
                                                  <div class="col-5">
                                                      Payment Requested:
                                                  </div>
                                                  <div class="col">
                                                      <div class="rounded-left cost-symbol">
                                                          <fa-icon [icon]="faBtc"></fa-icon> 
                                                      </div>
                                                      <div class="rounded-right cost">
                                                          0.00016
                                                      </div>
                                                      <div class='cost-label'>
                                                          <em>USD $0.99 Equivalent</em>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row" style="margin-top: 20px;">
                                                      <div class="col-5">
                                                          Lightning Invoice:
                                                      </div>
                                                      <div class="col">
                                                          <form>
                                                              <div class="input-group">
                                                                  <input 
                                                                      type="text" 
                                                                      class="form-control"
                                                                      value="L?T9=2KNGGOPJ42OI24T9GJNOGJI2OTJI23TOI2J3TONOIJOIJ" 
                                                                      placeholder="Some path" 
                                                                      width=10
                                                                      id="copy-input">
                                                                  <span class="input-group-btn">
                                                                      <button 
                                                                          class="rounded-right-only btn btn-default" 
                                                                          style="padding-bottom: 7px;"
                                                                          type="button" 
                                                                          id="copy-button"
                                                                          data-toggle="tooltip" 
                                                                          data-placement="button"
                                                                          title="Copy to Clipboard">
                                                                          Copy
                                                                      </button>
                                                                  </span>
                                                              </div>
                                                              <div class='cost-label'>
                                                                  <em>Copy/paste to your Bitcoin Lightning Wallet</em>
                                                              </div>
                                                          </form>
                                                      </div>
                                                  </div>
                                  </div>
                                  <div class="col-md-auto">
                                      <div class="col text-right" style="padding-right: 0px">
                                          <img height=150 src="assets/web/lightning-qr-example.png">
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>